.header {
    justify-content: center;
    border: none;
    color: burlywood;
    height: 10%;
    overflow: hidden;

.custom-font {
        font-family: 'Junge', sans-serif;
        font-size: 40px;
        font-weight: bolder;
      }
}
