
.container {
    background-color: rgb(80, 80, 80);
    height: 87%;
    border: 1px solid #000000;
}

.sidenav {
    background-color: rgb(54, 54, 54);
    
}

i {
    padding-right: .4rem;
    padding-top: .5rem;
}

img {
    height: 2rem;
}