.content {
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 1.5rem;
    background-color: rgba(56, 56, 56, 0.7);
    color: rgb(207, 166, 113);
    font-weight: 500;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    margin-bottom: 0.5rem;
    color: cadetblue !important;
    background-color: rgba(56, 56, 56, 0.7);
}

.table {
    width: 100%;
    background-color: rgba(56, 56, 56, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
    border-radius: 5px;
}
.livros {
    color: rgb(0, 0, 0);
    margin-left: .5rem;
}
.edit {
    color: rgb(0, 0, 0);
}

.delete {
    color: rgb(226, 50, 50);
    
}

.mat-header {
    width: 5rem;
}

