.home {
    background-color: rgb(149, 149, 149);
    width: 95%;
    margin: 1rem 1rem;
    transition: filter 0.1s ease-in-out;
}

.home:hover {
    filter: brightness(1.1);
}

.title {
    margin-left: 0.5rem;
}

.subtitle {
    margin-left: 0.5rem;
}

@media(max-width: 460px) {
    .home {
        width: 70%;
    }
}

@media(max-width: 770px) {
    .home {
        width: 80%;
    }
}