.home {
    background-color: darkgray;
    width: 95%;
    margin: 1rem 1rem;
}

.title {
    margin-left: 0.5rem;
}

.subtitle {
    margin-left: 0.5rem;
}

@media(max-width: 460px) {
    .home {
        width: 70%;
    }
}

@media(max-width: 770px) {
    .home {
        width: 80%;
    }
}